<h1>Episodes</h1>

<% if @episodes.any? %>
  <div class="featured">
    <div class="featured-content">
      <% featured_episode = Episode.random %>
      <h5>Featured Episode</h5>
      <h2> <%= link_to featured_episode.title, episode_path(featured_episode) %> </h2>
      <h5> <%= featured_episode.rating.round(1) %> of 5 stars </h5>
      <h4>Season <%= featured_episode.season %>, Episode <%= featured_episode.number %> </h4>
    </div>
  </div>
  <div class="categories episode-categories">
    <% if Episode.most_reviewed.length > 0 %>
      <div class="most-reviewed">
        <h3>Most Reviewed Episodes:</h3>
        <ol>
          <% Episode.most_reviewed.each do |episode| %>
          <li> <%= link_to episode.title, episode_path(episode) %> </li>
          <% end %>
        </ol>
      </div>
    <% end %>
    <% if (Episode.unreviewed.length > 0) & (current_user) %>
      <div class="most-reviewed">
        <h3>Be the first to Review:</h3>
        <ul>
          <% Episode.unreviewed.each do |episode| %>
          <li> <%= link_to episode.title, episode_path(episode) %> </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <h2>All Episodes</h2>
  <%= form_tag('/episodes', method: 'get') do %>
    <%= label_tag(:method, "Sort Episodes") %>
    <br>
    <%= select_tag(:method, options_for_select([["Chronological", "chronological"], ["Alphabetical", "alphabetical"]], @method), class: "form-control episode-sort") %>
    <%= submit_tag("Sort", class: "btn") %>
  <% end %>
  <ul>
    <% @episodes.each do |episode| %>
      <li>
        <%= link_to episode.title, episode_path(episode) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <h3>There are no episodes saved!</h3>
<% end %>

<p> <%= link_to "Add an Episode", new_episode_path %> </p>
