<!DOCTYPE html>
<html>
  <head>
    <title>Stranger Rails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
           <%= link_to "STRANGER RAILS", root_path, class: "navbar-brand" %>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li> <%= link_to "Episodes", episodes_path %> </li>
          <li> <%= link_to "Plotlines", plotlines_path %> </li>
          <li> <%= link_to "Scenes", scenes_path %> </li>
          <li> <%= link_to "Reviews", reviews_path %> </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <% if flash[:notice] %>
        <div class="alert alert-info">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <% if flash[:alert] %>
        <div class="alert alert-danger">
          <%= flash[:alert] %>
        </div>
      <% end %>
      <div class="user-info">
        <% if current_user %>
          <p>Signed in as:  <%= link_to current_user.name, user_path(current_user) %></p>
          <p><%= link_to "Sign Out", '/signout' %></p>
        <% else %>
          <p> <%= link_to "Sign In", '/signin' %> | <%= link_to "Sign Up", '/signup' %> </p>
        <% end %>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
